%p.in-gold-500.font-18 Order Summary
%table.general-summary-table
  %tr
    %td
      %p.font-16 Item Total:
    %td
      %p.font-16 €117.69
  - if current_order.coupon
    %tr
      %td
        %p.font-16 Coupone:
      %td
        %p.font-16= "- #{number_to_euro current_order.coupon.discount}"
  - if step_done?(:delivery) || step_active?(:delivery)
    %tr
      %td
        %p.font-16 Shipping:
      %td
        %p.font-16= number_to_euro current_order.delivery.price
  %tr
    %td
      %strong.font-18 Order Total:
    %td
      %strong.font-18 €117.69