%main.container.general-main-wrap
  .text-center
    %h1.mb-30 Forgot your password?
    %p.general-password-text We'll email you instructions on how to reset it
  = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: "general-form" }) do |f|
    = devise_error_messages!
    .form-group.mb-25
      = f.email_field :email, placeholder: "Enter your email", class: "form-control"
    .actions
      = f.submit "Email Instructions", class: "btn btn-default center-block mb-20"
    .text-center
      %a.in-gold-500.mb-20{href: root_path} Cancel
