.col-sm-6.col-md-3
  .general-thumb-wrap
    .thumbnail.general-thumbnail
      %img.img-shadow.general-thumbnail-img{src: "http://jonathantweedy.com/resources/thumbs/SmashingBook5ResponsiveWebDesign.jpg", alt: "design-book"}
      .thumb-hover
        .general-thumb-link-wrap
          %a.thumb-hover-link{href: book_path(book)}
            %i.fa.fa-eye.thumb-icon{'aria-hidden': "true"}
          %a.thumb-hover-link{href: "#"}
            %i.fa.fa-shopping-cart.thumb-icon
  .mb-35
    .clearfix
      %p.pull-right.font-16.in-gold-500= book.price
      %p.title.mr-55= book.title
    %span.divider-sm
    %p.lead.small= book_authors(book)