%main.container.general-main-wrap
  %h1.mt-0.mb-25 My Orders
  %p.lead.small.mb-10.visible-xs Sort by
  .dropdowns.dropdown.general-order-dropdown
    %a.dropdown-toggle.lead.small{href: "#", 'data-toggle': "dropdown", role: "button", 'aria-haspopup': "true", 'aria-expanded': "false"}
      Waiting for processing
      %i.fa.fa-angle-down.dropdown-icon.pull-right
    %ul.dropdown-menu
      %li
        %a{href: "#"} Newest first
      %li
        %a{href: "#"} Popular first
      %li
        %a{href: "#"} Price: Low to hight
      %li
        %a{href: "#"} Price: Low to hight
  .visible-xs
    .general-cart-item.divider-lg-bottom.pt-0
      %table.table
        %tr
          %td.col-half
            %span.in-grey-600 Number
          %td.col-half
            %span.general-order-number R25314582
        %tr
          %td
            %span.in-grey-600 Completed at
          %td
            %span.in-grey-900.font-16.fw-300 2016-11-14
        %tr
          %td
            %span.in-grey-600 Status
          %td
            %span.font-16.in-grey-900.fw-300 In Progress
        %tr
          %td
            %span.in-grey-600 Total
          %td
            %strong.font-16 €32.90
    .general-cart-item
      %table.table
        %tr
          %td.col-half
            %span.in-grey-600 Number
          %td.col-half
            %span.general-order-number R25314582
        %tr
          %td
            %span.in-grey-600 Completed at
          %td
            %span.in-grey-900.font-16.fw-300 2016-11-14
        %tr
          %td
            %span.in-grey-600 Status
          %td
            %span.font-16.fw-300.text-success Delivered
        %tr
          %td
            %span.in-grey-600 Total
          %td
            %strong.font-16 €32.90
  .hidden-xs.mb-res-50
    %table.table.table-hover
      %thead
        %tr
          %th
            %span.in-grey-600 Number
          %th
            %span.in-grey-600 Completed at
          %th
            %span.in-grey-600 Status
          %th
            %span.in-grey-600 Total
      %tbody
        %tr
          %td
            %span.general-order-number R25314582
          %td
            %span.in-grey-900.font-16.fw-300 2016-11-14
          %td
            %span.font-16.in-grey-900.fw-300 In Progress
          %td
            %strong.font-16 €32.90
        %tr
          %td
            %span.general-order-number R25314582
          %td
            %span.in-grey-900.font-16.fw-300 2016-11-14
          %td
            %span.font-16.fw-300.text-success Delivered
          %td
            %strong.font-16 €32.90
