%a.dropdown-toggle.lead.small{href: "#", 'data-toggle': "dropdown", role: "button", 'aria-haspopup': "true", 'aria-expanded': "false"}
  = @sort_name
  %i.fa.fa-angle-down.dropdown-icon.pull-right
%ul.dropdown-menu
  - SortOptions::sort_options.each do |k, v|
    %li
      = link_to v[:name], books_path(category_id: @current_category.id, sort_by: k)
