%a.dropdown-toggle.lead.small{href: "#", 'data-toggle': "dropdown", role: "button", 'aria-haspopup': "true", 'aria-expanded': "false"}
  = @active_sort_name
  %i.fa.fa-angle-down.dropdown-icon.pull-right
%ul.dropdown-menu
  - SORT_OPTIONS.each do |type, option|
    %li
      = link_to option[:name], catalog_path(category_id: @current_category.id, sort_by: type)
