.input-group
  %a.input-link.pt-7#minus{href: ""}
    %i.fa.fa-minus.line-heaght-40
  %input.form-control.quantity-input{type: "text", value: order_item.quantity, min: 1}
  %a.input-link.pt-7#plus{href: ""}
    %i.fa.fa-plus.line-heaght-40